C:\Users\Helena\Documents\GitHub\schackgpt\data\lichessdata\lichess_db_standard_rated_2013-01.pgn
C:\Users\Helena\Documents\GitHub\schackgpt\ofiltrerad_50MB.zip
C:\Users\Helena\Documents\GitHub\schackgpt\schack_1_oordning - kopia.csv
C:\Users\Helena\Documents\GitHub\schackgpt\schack_1_oordning.csv
C:\Users\Helena\Documents\GitHub\schackgpt\data\shakespeare_char\input.txt
C:\Users\Helena\Documents\GitHub\schackgpt\data\shakespeare_char\train.bin
C:\Users\Helena\Documents\GitHub\schackgpt\data\shakespeare_char\val.bin
C:\Users\Helena\Documents\GitHub\schackgpt\import torch.py
C:\Users\Helena\Documents\GitHub\schackgpt\data\shakespeare_char\meta.pkl
